    <ul class = "list-group">
        <% events.each do |event| %>
            <li class ="list-group-item"><%= link_to  event.title, event %>, <big>Location:</big> <%=event.location%>, <big>Date:</big> <%=event.date.strftime("%A, %d %b %Y %l:%M %p")%></li>
        <%end%>
    </ul>