<%if params[:user_id] && params[:rsvpd]%>
<h1>Events <%=@user.first_name%> is attending:</h1>
<%elsif params[:user_id]%>
    <h1><%=@user.first_name%>'s Events:</h1>
<%else%>
<h1>Events:</h1>
<%end%>




<%= render partial: "eventlist", locals: {events: @events}%>
<script type="text/javascript" charset="utf-8">
  jQuery(function () {

    class User{
    constructor (json){
        this.id = json["id"]
        this.first_name = json["first_name"]
        this.last_name = json["last_name"]
        this.bio = json["bio"]
        this.email = json["email"]
    }

    full_name(){
        return `${this.first_name} ${this.last_name}`
    }
}



    $(".js-more").on("click",function(e){
        e.stopPropagation()
        let id = $(this).attr("data-id");
        jQuery.getJSON("/events/" + id + ".json", function(data){
            let organizer = new User(data["user"])
            $(`#title-${id}`).text(`Title: ${data["title"]}`)
            $(`#organizer-${id}`).text(`Organizer: ${organizer.full_name()} `)
            $(`#date-${id}`).text(`Date: ${data["date"].split('T')[0]}`)
            $(`#location-${id}`).text(`Location: ${data["location"]}`)
            $(`#description-${id}`).text(`Description: ${data["description"]}`)
        })
        
    })
  });
</script>